In [8]:
import pandas as pd
import numpy as np

def getParam(df: pd.DataFrame, index: int, param_col: int):
    return np.array([list(df[param_col])[x][index] for x in range(len(df.index))], dtype=float).flatten()

def unload_df(df: pd.DataFrame):
    return pd.DataFrame(data={"Kon": getParam(df, 0, 0), "Koff": getParam(df, 1, 0), "Ksyn": getParam(df, 2, 0)},
                        index=df.index.values)

def which(array):
    return [x for x in range(len(array)) if array[x]]

def whichKeep(est_params):
    kon = np.array(est_params)[:,0]
    koff = np.array(est_params)[:,1]
    ksyn = np.array(est_params)[:,2]
    which_kon = ~(kon < 2*1e-3)*~(kon > 1e3 - 1)
    which_koff = ~(koff < 2*1e-3)*~(koff > 1e3 - 1)
    which_burst = ksyn/koff > 1
    which_ksyn = ksyn > 1
    which = which_burst*which_koff*which_kon*which_ksyn
    return which

tx = pd.read_pickle("data/SS3_cast_UMIs_mESC_ML.pkl")
filtered_tx = tx.iloc[which(np.array(tx[1]))]

In [10]:
tx_df = unload_df(filtered_tx)
tx_df

                    Kon        Koff        Ksyn
0610007P14Rik  1.042724    6.111233   13.128467
0610009B22Rik  0.687507    2.933980   15.190917
0610012G03Rik  0.076152    0.552256   30.163825
0610031J06Rik  3.536754  211.008333  377.512057
1110004E09Rik  0.140709    0.661506    8.993836
...                 ...         ...         ...
Zwilch         1.244701    2.556774    9.688974
Zwint          1.123749    1.806861   11.025819
Zxdc           0.204056    1.290241    5.107471
Zyg11b         0.865140  120.742446  135.907898
l7Rn6          0.603148    0.431342    8.634208

[5824 rows x 3 columns]

In [11]:
tx_df.to_csv("data/mESC_tx.csv")